.placeholder-skeleton {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(18rem + 12vw);
    background-color: rgb(167, 141, 182);
    animation: pulse 2s infinite;
}@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }