button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.25rem;
}

button img {
    width: calc(1rem + 1vw);
    border-radius: 50%;
    padding: 0.2rem;
}

.speech-container {
    border-left: 1px #faf2fff6 solid;
}

.listening {
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: rgba(255, 54, 54, 0.479);
    }
    100% {
      background-color: transparent;
    }
  }