@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.App {
  text-align: center;
  background: linear-gradient(0deg, rgb(26, 28, 34) 0%, rgb(40, 44, 52) 85%, rgb(43, 47, 56) 100%);
  background-size: cover;
  background-position: center;
  color: #faf2fff6;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  padding-bottom: 4rem;
}

.App-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.Movie-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.Movie-wrapper {
  width: 25.5rem;
  background: linear-gradient(305deg, #e7ceffd0 0%, #e9beffcc 64%, #f3d8ffc9 100%);
  box-shadow: 0px 0px 10px 0.5px #c792fd98;
  color: black;
  border-radius: 1rem;
  transition: 0.3s ease;
  animation: fadeIn .3s ease-in-out;
  cursor: pointer;
}

.Movie-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.4s ease;
}

.Movie-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px 5px #C892FD;
}

.icon-btn-container {
  display: flex;
  gap: calc(0.3rem + 0.2vw);
}

.icon-btn {
  background: none;
  border-radius: 50%;
  padding: 0;
}

.icon-btn:hover .icon-img {
  background-color: rgb(120, 78, 176);
  border-color: rgb(120, 78, 176);
  box-shadow: 0 0 5px rgba(110, 72, 161, 0.9);
  transition: .2s ease;
}

.icon-img {
  padding: calc(0.1rem + 0.3vw);
  border: 0.15vw solid white;
  border-radius: 50%;
  width: calc(0.8rem + 1.2vw);
}

.movie-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-popup {
  position: relative;
  display: flex;
  background-color: #3a3a3a;
  color: white;
  padding: 3vw 2vw 3vw 3vw;
  border-radius: 1vw;
  gap: 2vw;
  width: 85%;
  max-height: 75%;
  text-align: left;
  animation: fadeIn .5s ease;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 25px 1px rgba(110, 72, 161, 0.2);
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(26,28,35,0.5) 0%, rgba(26,28,34,0.86) 25%, rgba(0,0,0,1) 98%);
  /* backdrop-filter: blur(2px); */
  z-index: 0;
}

.movie-popup-image {
  width: 28.5%;
  height: 100%;
  animation: fadeIn .5s ease-in;
  border-radius: inherit;
  z-index: 1;
}

.movie-popup-title {
  font-weight: 700;
  font-size: calc(0.9rem + 1.8vw);
  width: 85%;
}

.movie-popup-details {
  font-size: calc(0.5rem + 0.5vw);
  width: 100%;
  overflow: auto;
  padding-right: 1vw;
  z-index: 1;
}

.movie-popup-details::-webkit-scrollbar {
  display: none;
}

.movie-popup-genres {
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.3rem + 0.2vw);
  margin: 1rem 0;
}

.movie-popup-genre-items {
  background: transparent;
  border: 0.15vw solid white;
  border-radius: 2rem;
  padding: calc(0.1rem + 0.2vw) calc(0.5rem + 1vw);
}

.cast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cast-item {
  word-wrap: break-word;
  width: calc(3rem + 5vw);
}

.cast-photo {
  width: 100%;
  animation: fadeIn .4s ease-in;
}

.cast-name {
  font-size: calc(0.4rem + 0.6vw);
}

.close {
  position: absolute;
  top: 0.375vw;
  right: 0.625vw;
  background-color: transparent;
  color: white;
  border: none;
  font-size: calc(1rem + 0.5vw);
  cursor: pointer;
}

.detail-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 4vw 0 2vw 0;
  align-items: center;
}

.trailer-btn {
  background-color: rgb(120, 78, 176);
  color: white;
  font-weight: 600;
  font-size: calc(0.4rem + 1vw);
  padding: calc(0.3rem + 0.5vw) calc(0.5rem + 0.7vw);
  border-radius: calc(0.2rem + 0.3vw);
  box-shadow: 0 0 calc(8px + 0.5vw) rgba(110, 72, 161, 0.9);
  transition: .25s ease-in;
}

.trailer-btn:hover {
  background-color: white;
  color: rgb(120, 78, 176);
  box-shadow: none;
}

.load-more {
  border: 0.15rem solid #c300ff;
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  background: transparent;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
  color: #c300ff;
  box-shadow: 0px 0px 8px rgba(195, 0, 255, 0.5);
  cursor: pointer;
  transition: .25s ease;
}

.load-more:hover {
  background: #c300ff;
  color: white;
  box-shadow: none;
}

.search-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 3.7rem;
  background: linear-gradient(53deg, #794eb0e2 0%, #6f48a1cb 82%, #5b368ae6 100%);
  border-radius: 2.4rem;
  transition: box-shadow .3s ease;
  padding: 1rem 1.5rem 1rem 2rem;
  height: 2.85rem;
}

.search-container:focus-within {
  box-shadow: 0 0 20px 4px #6f48a1, 0 15px 20px 0 rgba(0, 0, 0, 0.2);
}

.Movie-search {
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  background: none;
  color: #fbf2ff;
  font-family: 'Inconsolata', monospace;
  border-style: none;
  outline: none;
}

.Movie-search::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.Movie-title {
  height: 4rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #3a3a3a;
  font-weight: bold;
  overflow: hidden;
}

.Movie-wrapper:hover .Movie-title {
  height: auto;
  min-height: 4rem;
}

.Movie-date {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 1rem;
}

.Movie-rate {
  color: blue;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}

.Movie-image {
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1366px) {
  .search-container {
    width: 60%;
    height: 2.3rem;
  }

  .Movie-search {
    font-size: 1.3rem;
  }

  .Movie-wrapper {
    width: 19.5rem;
  }

  .Movie-image {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .Movie-wrapper {
    width: 45%;
    font-size: large;
  }

  .Movie-title {
    padding: 0.125rem 0.75rem;
    margin-bottom: 0;
    margin-top: 0.625rem;
  }

  .Movie-date{
    margin-bottom: 0.4rem;
  }

  .Movie-rate {
    margin-bottom: 15px;
  }

  .search-container {
    width: 60%;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
  }

  .Movie-search {
    font-size: 1.1rem;
  }

  .movie-popup-content {
    max-width: 90%;
    max-height: 95%;
  }
}

@media (max-width: 480px) {

  .Movie-wrapper {
    width: 80%;
  }

  .Movie-title {
    padding: 0.7rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  .Movie-rate {
    margin-bottom: 15px;
  }

  .search-container {
    width: 65%;
    padding: 0.25rem 0.5rem 0.25rem 1rem;
  }

  .Movie-search {
    font-size: 0.875rem;
  }
}